@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Dosis';
    background-image: linear-gradient(185deg, #affc9c 0, #9cf6a0 10%, #89eea4 20%, #76e5a6 30%, #62d9a7 40%, #50cca5 50%, #3fbfa2 60%, #30b3a0 70%, #23a89e 80%, #189f9c 90%, #10989b 100%);
}

body h1{
    color: rgb(99, 126, 134);
    margin-bottom: 10px;
    text-align: center;
}

.container{
    background-color: white;
    border: black 3px solid;
    border-radius: 5px;
    margin: 30vw;
    margin-top: 5%;
    padding: 5%;

}

form .txt{
    border: lightblue 1px solid;
    padding: 2px;
    border-radius: 5px;
}

form #ingresar{
    background-image: linear-gradient(185deg, #affc9c 0, #9cf6a0 10%, #89eea4 20%, #76e5a6 30%, #62d9a7 40%, #50cca5 50%, #3fbfa2 60%, #30b3a0 70%, #23a89e 80%, #189f9c 90%, #10989b 100%);;
    color: white;
    padding: 5px;
}